.header-container {
    background: radial-gradient(circle, rgba(95,103,98,1) 0%, rgba(17,26,23,1) 50%, rgba(17,26,23,1) 100%);
    min-height: 100vh;
}

.header-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px 50px;
}

.header-title h1 {
    margin: 0;
    padding: 0;
    font-size: 55px;
}


.header-content {
    display: grid;
    align-items: center;
    margin-top: 20vh;
    margin-left: 50px;
    justify-content: flex-start;
    text-align: start;
    font-weight: bolder;
}

.header-content p:first-child {
    color: #746d6d;
    font-size: 60px;
}

.header-content p {
    font-size: 120px;
    margin: 0;
}

.header-content button {
    width: fit-content;
    padding: 10px 30px;
    font-size: x-large;
    background-color: #FF5F15;
    color: #fff;
    border: none;
}

@media screen and (max-width: 940px) {
    
    .header-title {
        padding: 10px 30px;
    }
    
    .header-title h1 {
        margin: 0;
        padding: 0;
        font-size:55px;
    }
    
    .header-content {
        margin-top: 20vh;
        margin-left: 40px;
    }
    
    .header-content p:first-child {
        font-size: 50px;
    }
    
    .header-content p {
        font-size: 100px;
        margin: 0;
    }
    
    .header-content button {
        width: fit-content;
        padding: 7px 20px;
        font-size: x-large;
        border: none;
    }
}

@media screen and (max-width: 640px) {
    
    .header-title {
        padding: 10px 30px;
    }
    
    .header-title h1 {
        margin: 0;
        padding: 0;
        font-size:55px;
    }
    
    .header-title button {
        padding: 10px 25px;
        border-radius: 25px;
        font-size: 20px;
        display: none;;
    }
    
    .header-content {
        margin-top: 20vh;
        margin-left: 30px;
    }
    
    .header-content p:first-child {
        font-size: 40px;
    }
    
    .header-content p {
        font-size: 80px;
        margin: 0;
    }
    
    .header-content button {
        padding: 5px 15px;
    }
}

@media screen and (max-width: 490px) {
    
    .header-title {
        padding: 10px 20px;
    }
    
    .header-title h1 {
        margin: 0;
        padding: 0;
        font-size: 55px;
    }
    
    .header-title button {
        padding: 7px 20px;
        border-radius: 25px;
        font-size: 20px;
    }
    
    .header-content {
        margin-top: 20vh;
        margin-left: 20px;
    }
    
    .header-content p:first-child {
        font-size: 30px;
    }
    
    .header-content p {
        font-size: 50px;
        margin: 0;
    }
    
    .header-content button {
        padding: 2.5px 7px;
    }
}