.navbar-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 100vw;
}

.navbar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-buttons button {
    background-color: transparent;
    border: none;
    padding: 10px 20px;
}