.repos-container{
    padding: 30px 0 30px 0;
    background: radial-gradient(circle, rgba(95,103,98,1) 0%, rgba(17,26,23,1) 50%, rgba(17,26,23,1) 100%);
}

.repos-container a {
    color: #fff;
}

.repos-container p {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}

.repos-title {
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 25px;
}

.repos-title .repos-top-word {
    font-weight: bolder;
    opacity: 1;
    position: absolute;
    display: flex;
    font-size: 75px;
    color: #FF5F15;
    left:7%;
    top: 25%;
  }
  
.repos-title .repos-bottom-word {
    display: flex;
    position: relative;
    font-size: 150px;
    opacity: 0.1;
    left: 0;
    width: 45%;
  }

.repos-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.repos-search #search {
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
    font-family: sans-serif;
    border: none;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.repos-search button {
    cursor: pointer;
    color: #fff;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #FF5F15;
    border: none;
    padding: 20px;
    font-size: 20px;
}

.repos-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0;
}

.repos-header a {
    text-decoration: none;
    color: #FF5F15;
    padding: 20px 20px 0 20px;
    font-size: 20px;
}

.repos-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 30px;
}

.repos-button button {
    background-color: #FF5F15;
    padding: 10px;
    border: none;
    margin-right: 20px;
    margin-bottom: 0;
    background-image: var(--background-image);
    padding: 20px;
    font-size: 20px;
}

.repos-button button a {
    text-decoration: none;
}

.repos-header img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.repos-repos {
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-template-columns: auto auto auto auto;
}

.repos-repos button {
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    background-image: var(--background-image);
    padding: 20px;
    font-size: 20px;
    background-color: #FF5F15;
}

.repos-repos button a {
    text-decoration: none;
    padding: 30px 30px 30px 30px;
}

@media screen and (max-width : 1400px) {
    .repos-repos {
        display: grid;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-template-columns: auto auto auto;
    }
}

@media screen and (max-width : 950px) {
    .repos-repos {
        display: grid;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width : 850px) {
    .repos-title .repos-top-word {
        font-weight: bolder;
        opacity: 1;
        position: absolute;
        display: flex;
        font-size: 50px;
        color: #FF5F15;
        left:7%;
        top: 25%;
      }
      
    .repos-title .repos-bottom-word {
        display: flex;
        position: relative;
        font-size: 100px;
        opacity: 0.1;
        left: 3%;
        width: 45%;
      }
}


@media screen and (max-width : 650px) {
    .repos-repos {
        display: grid;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        grid-template-columns: auto;
    }

    .repos-button {
        flex-direction: column;
    }

    .repos-button button {
        margin-bottom: 30px;
    }

    .repos-button button:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width : 500px) {
    .repos-title .repos-top-word {
        font-weight: bolder;
        opacity: 1;
        position: absolute;
        display: flex;
        font-size: 25px;
        color: #FF5F15;
        left:7%;
        top: 25%;
      }
      
    .repos-title .repos-bottom-word {
        display: flex;
        position: relative;
        font-size: 50px;
        opacity: 0.1;
        left: 3%;
        width: 45%;
      }
    
      .repos-header {
        flex-direction: column;
        margin-top: 20px;
      }

      .repos-header a {
        padding-top: 0;
      }
}

@media screen and (max-width : 500px) {
.repos-search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.repos-search #search {
    border-radius: 20px;
    padding: 20px 10px 20px 10px;
    font-size: 15px;
    font-family: sans-serif;
    border: none;
}

.repos-search button {
    cursor: pointer;
    color: #fff;
    margin-left: 0.5rem;
    border-radius: 5px;
    background-color: #FF5F15;
    border: none;
    padding: 15px;
    font-size: 15px;
}
}

@media screen and (max-width : 350px) {
    .repos-search {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .repos-search #search {
        border-radius: 20px;
        padding: 20px 5px 20px 5px;
        font-size: 15px;
        font-family: sans-serif;
        border: none;
        margin-bottom: 20px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
    .repos-search button {
        cursor: pointer;
        color: #fff;
        margin-left: 0.5rem;
        border-radius: 5px;
        background-color: #FF5F15;
        border: none;
        padding: 15px;
        font-size: 15px;
    }
    }